<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map { height: 800px; }
    </style>
</head>
<body>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var map = L.map('map').setView([51.505, -0.09], 2);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            var markers = [];

            function fetchAndDisplayCoordinates() {
                fetch('http://' + window.location.host + '/api/coordenadas/last')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erro ao buscar os dados da API');
                    }
                    return response.json();
                })
                .then(data => {
                    markers.forEach(marker => {
                        map.removeLayer(marker);
                    });

                    data.forEach(function(item) {
                        var newMarker = L.marker([item.latitude, item.longitude]).addTo(map)
                            .bindPopup(item.veiculo);
                        markers.push(newMarker);
                    });
                })
                .catch(error => {
                    console.error('Erro:', error);
                });
            }

            fetchAndDisplayCoordinates(); // Chama a função quando a página é carregada

            let url = 'ws://' + window.location.host + '/ws/socket-server/'

            const mapSocket = new WebSocket(url)

            mapSocket.onmessage = function(e){
                fetchAndDisplayCoordinates()
            }
        });
    </script>
</body>
</html>
